@charset "UTF-8";

:root{
    --cor1: #141414;
    --cor2: #E50914;
}

*{
    /*Resetando o Css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos bases*/

body {
    background: var(--cor1);
    color: white;
}

header .container {
    display: flex;
    /* Por padrão -> flex-direction: row;*/

    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    margin: 5px;
}

header .logo {
    color: var(--cor2);
    font-weight: bolder;
    font-size: 35px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/*Filme Principal*/

main .filme-principal{
    font-size: 10px;
    background: linear-gradient(rgba(0,0, 0, .10), rgba(0,0,0, .80) 100%),url('/src/capa-loki.jpg');

    width: 100%;
    padding-left: 20px;
    padding-right: 300px;
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    margin: auto;
}

.filme-principal .botoes {
    margin-top: 50px;
    padding: 10px;
}

.titulo {
    font-size: 40px;
}

